#import url('https://fonts.googleapis.com/css?family=Tangerine')

body{
    background-color: black;
}

.App{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 1em;
}

.sigma-container {
    width: 100%;
    height: 750px;
}